.login-input {
  flex: 1;
}

.login-password-toggle-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0 5px;
  display: flex;
  align-items: center;
  color: #a0aec0;
}

.login-social-img {
  width: 30px;
  cursor: pointer;
}
